[submodule "ext/Skeletal-Animation-Library"]
	path = ext/Skeletal-Animation-Library
	url = https://gitlab.com/eidheim/Skeletal-Animation-Library.git
[submodule "ext/assimp"]
	path = ext/assimp
	url = https://github.com/assimp/assimp.git
[submodule "ext/JUCE"]
	path = ext/JUCE
	url = https://github.com/hotwatermorning/JUCE
[submodule "ext/FreeGLUT"]
	path = ext/FreeGLUT
	url = https://github.com/dcnieho/FreeGLUT
